body {
  background: url("../images/image5.jpg") !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: cover !important;
}
.container {
  display: flex;
  justify-content: center;
  height: 70vh;
  align-items: center;
  margin: 0;
}

.content {
  padding: 20px;
  width: 500px;
  height: 170px;
  text-align: center;
  border-radius: 20px;
  color: rgb(3, 3, 3);
}

h3 {
  font-family: cursive;
}

p {
  text-decoration: solid;
  font-weight: bolder;
  font-family: "Times New Roman", Times, serif;
}

.button-below {
  display: flex;
  justify-content: center;
  font-family: "Times New Roman", Times, serif;
  border-radius: 10%;
}

.btn {
  background-color: rgb(224, 202, 169) !important;
}

.btn:hover {
  background-color: rgb(206, 206, 180) !important;
}
